.marketing-section{
    background-color: #F4FBFB;
}

.tab-wrapper{
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
}
.tab-heading{
    font-size: 12px;
    color: #077F8D;
    font-weight: 700;
    margin : 30px 0px;

}
.tabs-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    

}

.tabs{
    font-size: 22px;
    font-weight: 500;
}





.current-tab{
    border-bottom: 2px solid black;
}


.marketing-text-content{
        
        padding: 0px 10px;
    }

.tagline{
    font-size: 32px;
    font-weight: 600;
    line-height: 34px;
}    
.marketing-text-description{
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.marketing-media-content{
    display: flex;
    position : relative
}

.marketing-text-button{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.media-text-box{
    background-color: #FEFEFE;
    position: absolute;
    align-self: flex-end;
    left: 120px;
    top: 180px;
    padding: 10px 20px 10px 10px;

}
.text-title{
    color:#6F6E6E;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.text-heading{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
}

.text-box-buttons{
    display: flex;

}
.text-box-button{
    font-size: 12px;
    color: #077F8D;
    font-weight: 500;
    line-height: 18px;
}
.text-box-button + .text-box-button{
    margin-left: 5px;
}

.bank-img{
    flex: 1;
    position: relative;
    align-self: flex-end;
    left: 20px;
    bottom: 25px;
}

.digital-img{
    flex : 1
}

@media screen and (min-width: 1024px) {
    .marketing-wrapper{
        display: flex;
        padding: 10px;
        max-width: 1000px;
        margin: 0 auto;
        align-items: center;
    }

    .marketing-text-content{
        flex: 1;
        padding: 0px 30px;
    }

    .marketing-media-content{
        flex:1
    }

    .text-heading{
        font-size: 16px;
    }
}
