.testimonial-container{
    background-color: rgba(79, 70, 229,0.1);
    border-radius: 16px;
    width: 75%;
    margin: 0 auto;
    
    
    
   
    max-width: 1024px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;

}

.testimonial-heading{
    text-align: center;
    
}
.testimonial-text{
    padding: 0 20px ;
}

.arrow-container{
    
    width: 75%;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left : -20px;


    cursor: pointer;
}

.arrow + .arrow{
    margin-left: 25px;
}

.testimonial-img-container{
    position: relative;
}
.intersect{
    position: absolute;
    z-index: -1;
    bottom: 0;
}

@media screen and (min-width: 1024px) {
    .testimonial-container{
        display: flex;
        flex-direction: row-reverse;
    padding-right: 60px;
    padding-top: 20px;
    padding-left: 0px;

        
    }
    
}
